.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 10vh;
  overflow-x: hidden;
  position: relative;
}

.main-header {
  font-size: 34px;
  font-weight: 400;
}

.home-cards-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
}

.card-left-arrow,
.card-right-arrow {
  position: absolute;
  width: 34px;
  height: 34px;
  cursor: pointer;
}

.card-left-arrow {
  transform: translateX(-140px);
}

.card-right-arrow {
  transform: translateX(140px);
}

@media(min-width: 360px) {
  .card-left-arrow {
    transform: translateX(-160px);
  }

  .card-right-arrow {
    transform: translateX(160px);
  }
}

@media(min-width: 390px) {
  .main-header {
    font-size: 40px;
  }
}

@media(min-width: 768px) {
  .main-header {
    font-size: 52px;
  }

  .card-left-arrow {
    transform: translateX(-180px);
  }

  .card-right-arrow {
    transform: translateX(180px);
  }
}

@media(min-width: 992px) {
  .home-container {
    padding-top: 62px;
  }

  .main-header {
    margin-bottom: 1%;
  }

  .home-cards-area {
    gap: 74px;
  }

  .card-left-arrow,
  .card-right-arrow {
    display: none;
  }
}