

.timer-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 38px 20px 0 20px;
  flex: 1;
  position: relative;
  width: 100%;
  max-width: 320px;
}

.timer-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-options-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
}

.options-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

@media(min-height: 950px) {
  .timer-area {
    padding: 10vh 32px;
  }
}

@media(min-width: 992px) {
  .timer-area {
    transform: translateX(-20%);
    justify-content: center;
    max-width: unset;
  }

  .timer-buttons {
    margin-top: 5%;
  }

  .timer-options-area {
    max-width: 320px;
  }
}