.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'IBM Plex Mono';
  line-height: 1.2;
  letter-spacing: 1px;
}

.current-time {
  font-size: 52px;
  font-weight: 300;
}

.overall-time {
  font-size: 30px;
  font-weight: 300;
  opacity: 75%;
}

.timer-container img {
  margin-top: 10px;
  width: 20px;
  height: auto;
  cursor: pointer;
}

@media(min-width: 992px) {
  .current-time {
    font-size: 76px;
  }

  .overall-time {
    font-size: 48px;
  }

  .timer-container img {
    margin-top: 10px;
    width: 27px;
  }
}